

// Marketo form: mktoForm_1558
.mktoForm {
  margin: 0;
  width: 100% !important;
  padding: 1rem 3rem;
  .mktoFieldWrap {
    display: flex;
    flex-direction: column;
    width: 100%;
    float: none !important;
  }
  .mktoTextField,
  .mktoEmailField,
  .mktoTelField,
  .mktoLabel,
  .mktoFormCol {
    width: 100% !important;
  }
  .mktoTextField,
  .mktoEmailField,
  .mktoTelField {
    border: 0;
    background-color: lighten($primary,15%);
    font-size: 1.2rem !important;
    padding: 0.25rem 0.5rem !important;
    transition: all 0.5s ease;
    font-weight: bold;
    &:focus {
      background-color: lighten($primary,25%) !important;
    }
  }
  .mktoGutter,
  .mktoOffset {
    display: none;
    visibility: hidden;
  }
  .mktoLabel {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
  }
  .mktoButtonRow {
    padding-top: 1rem;
    .mktoButtonWrap {
      margin-left: 0 !important;
    }
    button {
      &[type=submit] {
        background-image: none !important;
        border: 0 !important;
        background-color: $black !important;
        font-family: $fancyfont;
        font-size: 1.4rem !important;
        font-weight: 700;
        padding: 0.5rem 2rem !important;
      }
    }
  }
  .mktoErrorMsg {
    border-radius: 0 !important;
    border: 1px solid darken($primary,20%) !important;
    background-color: darken($primary,20%) !important;
    background-image: none !important;
    box-shadow: none !important;
  }
  .mktoErrorArrow {
    border: 1px solid darken($primary,20%) !important;
    background-color: darken($primary,20%) !important;
  }
  .mktoLabel {
    font-size: 0.9rem;
    color: $black;
    padding: 0 0 0.6rem 0;
    .mktoAsterix {
      color: $white;
    }
  }
}

