html,
body {
  height: 100vh;
}

.wrapper {
  max-width: $xlarge;
  margin: 0 auto;
  padding: 0 1rem;
  overflow: hidden;
}

section {
  border: 1px solid red;
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}
