p,li,pre {
  font-family: $bodyfont;
  line-height: $lineheight;
}

h1,h2,h3,h4,dt {
  font-family: $fancyfont;
  line-height: $lineheightheader;
}

h1 {
  font-size: 2.6rem;
}

p, li {
  font-size: 1.1rem;
}