$fancyfont: "Alfa Slab One", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$bodyfont: "Sanchez", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

$bodycolor: #262626;
$bgcolor: #343842;
$light: #8fabbf;
$blue: #425f73;
$accent: #de4723;
$lightaccent: #D47900;
$darkgrey: #232323;
$teal: #23BADE;
$green: #23dea6;
$white: #fff;

$lineheight: 140%;

$xlarge: 1280px;
$large: 960px;
$medium: 720px;
$small: 540px;