// TYPE
$fancyfont: "Alfa Slab One", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$bodyfont: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$lineheight: 160%;
$lineheightheader: 140%;

// COLORS
$bodycolor: white;
$bgcolor: #161619;
$primary: #ec4166;
$secondary: #23d1ba;
$white: #fff;
$black: #000;
$light: #e1e1e1;

// VIEWPORT SIZE
$xlarge: 1280px;
$large: 960px;
$medium: 720px;
$small: 540px;