@import 'vars';

.modal {
  margin: 0;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0em 1em;
  grid-template-areas:
    "firstCol secondCol";
}

.firstCol,
.secondCol {
  padding: 2rem 0;
}

.firstCol {
  grid-area: firstCol;
  flex-direction: column;
  padding: 2rem 3rem;
  align-items: flex-start;
  h2 {
    font-size: 2.2rem;
    margin: 1rem 0 0 0;
  }
}

.secondCol {
  grid-area: secondCol;
  background-color: $primary;
}