@import 'mixins';
@import 'keyframes';

.wrapper {
  // transform: translateY(-0.6rem);
  opacity: 0;
  animation: fadein 0.5s ease 0.2s 1 normal forwards;
  max-width: $large;
  margin: -0.5rem auto 0 auto;
}

.key-value {
  @include keyvalue(33%);
  dt {
    margin-top: 3rem;
    color: $secondary;
    font-family: $fancyfont;
    font-size: 2rem;
    font-weight: 700;
    padding: 1rem 0 0 0;
    line-height: $lineheightheader;
  }
  dd {
    margin-top: 3rem;
  }
}

.content {
  padding: 3rem 4rem;
}

.footer {
  text-align: center;
}